<p>&nbsp;</p>
<table class="body-wrap">
<tbody>
<tr>
<td>&nbsp;</td>
<td class="container" width="600">
<div class="content">
<table class="main" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="alert alert-warning">Public repo(s) has been detected</td>
</tr>
<tr>
<td class="content-wrap">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="content-block">
<p><!--RESULTS--></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
